/* ==== Google font ==== */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */

@import url('animate.css');
body {
  font-family: 'Heebo', 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: #fff;
  background-color: #fff;
  overflow-x: hidden;
  direction: rtl;
}

hi,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  line-height: 1.1em;
}

p {
  color: #333;
  font-size: 13px;
}

a {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  outline: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #1BBD36;
}

.btn-primary {
  padding: 8px 20px;
  background: #1BBD36;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

.text-center h2 {
  margin-bottom: 30px;
}

.text-center p {
  margin-bottom: 50px;
  color: #333;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 30px;
  margin-right: -10px;
}

#breadcrumb {
  background-color: #1BBD36;
  margin-top: -20px;
}

#breadcrumb a:hover {
  text-decoration: none;
  color: white;
}

.breadcrumb {
  list-style: none;
  background-color: #1BBD36;
  border-radius: 0px;
  padding: 3px 10px;
}

.breadcrumb li {
  text-transform: uppercase;
  margin-top: 125px;
  font-weight: 600;
}

/*===========================
  Menu and Navigation
============================ */

.navigation {
  background-color: #fff;
  padding: 0;
}

.navbar-header {
  float: right !important;
}

.navbar-brand h1 {
  margin-top: 9px;
  padding-top: 5px;
  float: right;
  font-size: 25px;
  color: #333;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-brand h1 span {
  color: #1BBD36;
}

.menu {
  font-size: 12px;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
}

.menu ul.nav-tabs li {
  color: #000;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs>li {
  float: right;
  margin-bottom: 0;
}

.nav-tabs>li>div {
  padding: 30px;
}

.nav-tabs>li>div>a {
  border-radius: 0;
  color: #333;
}

.nav-tabs>li>div>a:hover {
  color: #1BBD36;
  border-color: #fff #fff #fff;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-tabs>li>div>a.active {
  color: #1BBD36;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-top: 6px;
  }
  .navbar-brand h1 {
    margin-top: 0;
  }
  .nav-tabs>li {
    float: none;
    display: block;
  }
  .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    background: #fff;
    height: auto;
  }
  .nav-tabs>li>a {
    padding: 15px 15px;
    border-bottom: 1px solid #f3f3f3;
  }
  .nav-tabs>li>a:hover {
    border-color: #f3f3f3;
  }
}

/*===========================
  slider
============================ */

#main-slider {
  margin-top: 40px;
}

#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 120px;
}

#main-slider .carousel .carousel-text {
  margin-top: 65px;
}

#main-slider .carousel .slide-margin {
  margin-top: 140px;
}

#main-slider .carousel h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
}

#main-slider .carousel h2 span {
  color: #1BBD36;
}

#main-slider .carousel h2 span span {
  color: #000;
}

#main-slider .carousel p {
  color: #ddd;
  font-size: 25px;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #1BBD36;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img {
  text-align: left;
  position: absolute;
}

@media (max-width:768px) {
  #main-slider .carousel .container-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#main-slider .imgBehind {
  z-index: -1;
  width: 65%;
}

#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 730px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

@media (max-width: 768px) {
  #main-slider .carousel .carousel-content {
    margin-top: 40px;
    text-align: center;
  }
  #main-slider .carousel .slide-margin {
    margin-top: 40px;
  }
  #main-slider .carousel p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
  }
}

.feature {
  padding: 50px;
}

.text-center i {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 30px;
  color: #fff;
  padding: 50px;
  background: #1BBD36;
  border-radius: 50%;
}

.text-center h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: #1BBD36;
}

.hi-icon-effect i.fa:hover {
  background: #fff;
  color: #1BBD36;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}

#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}

#partner {
  color: #fff;
  text-align: center;
}

#partner .container-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #partner .container-overlay {
    padding: 100px;
  }
}

@media (max-width: 768px) {
  #partner .container-overlay {
    padding: 30px 0 30px 0;
  }
}

#partner h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

#partner p {
  color: #fff;
  font-size: 20px;
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li {
  display: inline-block;
  width: 15%;
  margin: 0 2%;
}

.partners ul li a img {
  margin-top: 50px;
}

#contact-info {
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i {
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 6px;
}

.contact-info h2 {
  margin-top: 0;
  color: #000;
}

.contact-info {
  color: #000;
}

/* --- about us --- */

@media (min-width: 768px) {
  .aboutus {
    padding: 50px;
  }
}

.aboutus img {
  border-radius: 6px;
}

.aboutus h3 {
  margin-bottom: 30px;
  font-weight: 800;
}

.aboutus h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

.skill h2 {
  margin-top: -10px;
  margin-bottom: 25px;
}

.progress-wrap {
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width {
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width {
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width {
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width {
  background: #db3615;
}

.progress,
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: left;
}

.progress {
  position: relative;
}

.progress .bar-width {
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-right: -30px;
}

.progress span {
  position: relative;
}

.progress span:before {
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  left: 8px;
}

.progress .color1 span:before {
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before {
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before {
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before {
  border-color: #db3615 transparent transparent transparent;
}

.about {
  background: #eee;
  padding: 50px;
}

.about h2 {
  margin-bottom: 30px;
}

.about img {
  margin-bottom: 30px;
  border-radius: 6px;
}

.our-team {
  background: #ddd;
}

@media (min-width: 768px) {
  .our-team {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .our-team {
    padding-top: 50px;
    text-align: center;
  }
}

.our-team h3 {
  margin-bottom: 30px;
  font-weight: 800;
}

.our-team h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.our-team img {
  border-radius: 6px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .latest {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .latest {
    padding: 0 0 50px 0;
  }
}

.latest h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

@media (min-width: 768px) {
  .rest-img-cont {
    height: 200px;
    width: 350px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
  }
  .rest-img-cont img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .rest-img-cont img {
    margin-top: 10px;
    border-radius: 5px;
  }
}

/* --- footer --- */

.footer {
  background: #1BBD36;
  padding: 15px 22px;
}

ul.social-network {
  list-style: none;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
  display: inline;
  font-size: 25px;
}

@media (max-width: 768px) {
  ul.social-network li {
    margin: 0 8px;
  }
}

@media (min-width: 768px) {
  ul.social-network li {
    margin: 0 18px;
  }
}

ul.social-network li a {
  color: #d0d0d0;
}

.social-network li:hover .fa-twitter {
  color: #00abf0;
}

.social-network li:hover .fa-facebook {
  color: #39579a;
}

.social-network li:hover .fa-google-plus {
  color: #eb8984;
}

.social-network li:hover .fa-pinterest {
  color: #c9171e;
}

.social-network li:hover .fa-linkedin {
  color: #0077b5;
}

.social-network li:hover .fa-youtube-play {
  color: #C84941;
}

.social-network li:hover .fa-dribbble {
  color: #EA4C89;
}

.social-network li:hover .fa-pinterest-square {
  color: #EA4B49;
}

.copyright {
  margin-top: 30px;
  text-align: left;
}

.copyright a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-shadow: none;
}

/* --- services --- */

.services {
  padding: 50px;
}

.services h3 {
  margin-bottom: 30px;
  font-weight: 800;
}

.services img {
  border-radius: 6px;
}

.sub-services img {
  border-radius: 6px;
}

.services p {
  margin-top: 30px;
  font-size: 13px;
}

.sub-services {
  padding: 50px;
  background: #ddd;
}

.sub-services p {
  margin-top: 30px;
  font-size: 13px;
}

.media-body p {
  margin-bottom: 30px;
}

.media ul li {
  list-style: none;
}

.media i {
  color: #1BBD36;
  font-size: 50px;
}

.media h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1BBD36;
}

/* --- portfolio --- */

#portfolio .center p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

.portfolio-items,
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter>li {
  display: inline-block;
}

.portfolio-filter>li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter>li a:hover,
.portfolio-filter>li a.active {
  color: #fff;
  background: #1BBD36;
  border: 1px solid #1BBD36;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items>li {
  float: right;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding: 0;
}

.overlay {
  margin-bottom: 20px;
}

.overlay a:hover {
  color: #1BBD36;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* --- Map --- */

.map {
  position: relative;
  margin-bottom: 40px;
}

/* google map */

.googlemaplink {
  text-align: center;
}

.googlemaplink img {
  width: 100%;
}

/* --- restaurants --- */

#restaurants {
  margin-top: 30px;
}

a.btn-primary:hover {
  background-color: #ddd;
  color: #1BBD36;
}

.widget {
  margin-bottom: 60px;
  padding-right: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-left: 10px;
  color: #333;
}

.widget .entry-meta span a:hover {
  color: #1BBD36;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.restaurants_category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.restaurants_category li {
  float: none;
  margin-bottom: 20px;
}

.restaurants_category li a {
  background: #f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.restaurants_category li a:hover {
  background: #1BBD36;
  color: #fff;
}

.restaurants_category li a.noDesign {
  background: none;
  padding: 0 5px 0 5px;
}

.restaurants_category li a.noDesign:hover {
  color: #1BBD36;
}

.badge:before {
  border-color: transparent #1BBD36 transparent transparent;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  right: 0px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #1BBD36;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  right: 60px;
  top: -18px;
  font-weight: normal;
}

.restaurants_archive {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.restaurants_archive li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

ul.restaurants_archive li a:hover {
  color: #1BBD36;
}

.restaurants_archive li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: right;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li>div {
  margin-right: 70px;
}

ul.faq li>div h3 {
  margin-top: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.restaurant-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.restaurant .restaurant-item .img-restaurant {
  border-radius: 5px;
  margin-bottom: 45px;
}

.restaurant .restaurant-item .restaurant-content {
  padding-bottom: 25px;
}

.restaurant .restaurant-item .restaurant-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore {
  margin-top: 0;
}

.restaurant .restaurant-item .restaurant-content h4 {
  margin-bottom: 40px;
  font-weight: 600
}

.restaurant .restaurant-item .restaurant-content p {
  font-size: 13px;
}

.restaurant .restaurant-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.restaurant .restaurant-item .entry-meta>span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
}

#publish_date {
  background: #1BBD36;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.restaurant .restaurant-item .entry-meta>span {
  color: #ccc;
}

.restaurant .restaurant-item .entry-meta>span a {
  font-size: 12px;
  margin-right: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination>li>a {
  border: 1px solid #F1F1F1;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
  color: #1BBD36;
}

ul.pagination>li>a i {
  margin-left: 5px;
  margin-right: 5px;
}

ul.pagination>li.active>a,
ul.pagination>li:hover>a {
  background-color: #1BBD36 !important;
  border-color: #1BBD36 !important;
  color: #fff;
}

.search_box {
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

ul.tag-cloud,
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li {
  display: inline-block;
  margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover {
  background: #1BBD36;
  color: #fff;
}

.tag-cloud li a.noDesign {
  background: none;
  color: #888;
  border: 0;
  padding: 0 5px 0 5px;
}

.tag-cloud li a.noDesign:hover {
  color: #1BBD36;
}

.sidebar-gallery li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

.restaurants-carousel {
  color: #000;
  text-align: center;
  padding: 0 5%;
}

.restaurants-carousel .wrap {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.restaurants-carousel .wrap .rest-carousel-image {
  display: block;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
}

.restaurants-carousel .wrap .wide {
  height: 100%;
}

.restaurants-carousel .wrap .tall {
  width: 100%;
}

.restaurants-carousel .wrap .rest-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  opacity: 0.75;
  transition: .5s ease;
  background-color: #666;
}

.restaurants-carousel .wrap .rest-overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: #777 !important;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* --- restaurant --- */

#restaurant {
  margin-top: 10px;
  color: #000;
}

#restaurant .title {
  text-align: center;
  margin-bottom: 20px;
}

#restaurant .subtitle {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

#restaurant .rest-info {
  margin-bottom: 50px;
}

.restaurant-carousel {
  color: #000;
  text-align: center;
  padding: 0 5%;
}

.rest-carousel-cont {
  margin-bottom: 50px;
}

.restaurant-carousel .wrap {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.restaurant-carousel .wrap .rest-carousel-image {
  display: block;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
}

.restaurant-carousel .wrap .wide {
  height: 100%;
}

.restaurant-carousel .wrap .tall {
  width: 100%;
}

.restaurant-carousel .wrap .rest-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  opacity: 0.75;
  transition: .5s ease;
  background-color: #666;
}

.restaurant-carousel .wrap .rest-overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#restaurant .review-avatar {
  text-align: right;
}

#restaurant .review-avatar img {
  width: 92%;
  margin-left: 8%;
  height: auto;
  border-radius: 50%;
}

#restaurant .rest-signleReview {
  margin-bottom: 30px;
}

#restaurant .rest-reviews {
  margin-bottom: 30px;
}

#restaurant .review-rating {
  font-size: 20px;
  text-align: center;
}

.speech-bubble {
  position: relative;
  background: #e1e1e1;
  border-radius: .4em;
  min-height: 80px;
  padding: 30px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #e1e1e1;
  border-right: 0;
  margin-top: -20px;
  margin-right: -20px;
}

/* --- contact --- */

#contact-page {
  padding-top: 0;
  background: #fff;
  margin-bottom: 50px;
}

#contact-page .contact-form .form-group label {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color: #f2f2f2;
  box-shadow: none;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

.center h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.center p {
  text-align: center;
}

.btn-lg:hover {
  color: #1BBD36;
  background: #ddd;
}

a.scrollup {
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  left: 40px;
  opacity: 0, 5;
  border-radius: 50%;
  z-index: 999;
}

a.scrollup:hover {
  opacity: 1;
  background-color: #ddd;
  color: #1BBD36;
}

@media (max-width: 768px) {
  a.scrollup {
    color: #777;
  }
}